.game-board {
	width: 100%;
	height: 100%;
	background-color: #8AAAFF;
	border-radius: 25px;
	margin-bottom: 70px;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.game-board__square {
	width: 146px;
	height: 146px;
	background-color: #B1D0FF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
}

.game-board__square-blue {
	color: #0500FF;
}

.game-board__square-red {
	color: #FF0000;
}

.game-board__square:disabled {
	pointer-events: none;
}

.game-board__square:nth-child(1) {
	border-radius: 25px 0 0 0
}

.game-board__square:nth-child(3) {
	border-radius: 0 25px 0 0;
}

.game-board__square:nth-child(7) {
	border-radius: 0 0 0 25px
}

.game-board__square:nth-child(9) {
	border-radius: 0 0 25px 0
}